<div class="container">
	<h1 style="color:peru">Titulo 1</h1>
	<h2>Titulo 2</h2>

	<a href="http://google.cl"><img src="http://product.cdn.cevaws.com/var/storage/images/feliway-v2/comportamiento-del-gato/test-de-bienestar/tu-gato-tiene-un-riesgo-de-estres-moderado/507378-47-esl-ES/Tu-gato-tiene-un-riesgo-de-estres-moderado.jpg" alt="Foto gatito" width="200"></a>
	<div class="row">
		<div class="col-md-4">
			<p id="red" class="blue blue2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis libero assumenda ut explicabo dolorum cupiditate officia porro quia exercitationem molestiae quae odio doloremque perferendis, non mollitia animi quibusdam, est quas.</p>
		</div>
		<div class="col-md-4">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur totam rem eligendi at cupiditate quo, assumenda ab omnis distinctio odio sequi eaque commodi molestias ullam dolores blanditiis aspernatur quisquam inventore.</p>
		</div>
		<div class="col-md-4">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam deleniti provident rem tenetur molestias quaerat dolorem ad voluptatem nobis consectetur perferendis magni quisquam delectus, reiciendis vel voluptas, asperiores velit id?</p>
		</div>
		
	</div>	
</div>